name: "test-local"
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'
jobs:
  test:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - run: npm ci
      - name: Testing / Linting
        run: npm run test
      - name: Package
        run: npm run package
      - name: Check whether integrations tests should be enabled
        id: enable_integration_tests
        env:
          ZULIP_API_KEY: ${{ secrets.ZULIP_API_KEY }}
        run: |
          echo "::set-output name=value::${{ env.ZULIP_API_KEY != '' }}"
      - name: Send a stream message
        uses: ./
        with:
          username: 'it-bot@github-actions-test.zulipchat.com'
          api-key: ${{ secrets.ZULIP_API_KEY }}
          organization-url: 'https://github-actions-test.zulipchat.com'
          to: 'test'
          type: 'stream'
          topic: 'github actions'
          content: 'I come not, friends, to steal away your hearts.'
        if: ${{ steps.enable_integration_tests.outputs.value == 'true' }}
      - name: Send a private message
        uses: ./
        with:
          username: 'it-bot@github-actions-test.zulipchat.com'
          api-key: ${{ secrets.ZULIP_API_KEY }}
          organization-url: 'https://github-actions-test.zulipchat.com'
          to: '423060'
          type: 'private'
          content: 'With mirth and laughter let old wrinkles come.'
        if: ${{ steps.enable_integration_tests.outputs.value == 'true' }}
  failure:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - run: npm ci
      - name: Testing / Linting
        run: npm run test
      - name: Package
        run: npm run package
      - name: Missing API key and password
        uses: ./
        with:
          username: 'it-bot@github-actions-test.zulipchat.com'
          organization-url: 'https://github-actions-test.zulipchat.com'
          to: 'test'
          type: 'stream'
          topic: 'github actions'
          content: 'I come not, friends, to steal away your hearts.'
        continue-on-error: true
      - name: Wrong organization URL
        uses: ./
        with:
          username: 'it-bot@github-actions-test.zulipchat.com'
          api-key: ${{ secrets.ZULIP_API_KEY }}
          organization-url: 'https://org.zulipchat.com'
          to: '282093'
          type: 'private'
          content: 'With mirth and laughter let old wrinkles come.'
        continue-on-error: true
